@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>


</head>
    
<body>
    <form action="../Controllers/IndexController.cs" method="post">
        <p>Email or Alias</p><br />
        <input type="text" id="txtEmail" /><br />
        <p>Contraseña</p><br />
        <input type="password" id="txtPassword" /><br />
        <input type="submit" id="login" value="Log In" />
        <input type="submit" id="signup" value="Sign Up" />
    </form>


</body>

</html>